Tests: runtime
Depends: qore-vss-module
# QUnit reports progress to stderr even on success.
Restrictions: allow-stderr

Tests: compiler
Depends: qore-vss-module, libqore-dev
# Installing optional modules can trigger a valid fallback to packaged Qore sources.
Restrictions: allow-stderr
